@use "../utils/variables" as *;


.feedbacks__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;

    @media screen and (min-width: 768px) {
        font-size: 42px;
        line-height: 1.17;
    }
}
.feedbacks__text {
    margin-top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width:768px) {
        font-size: 16px;
        line-height: 1.19;
    }
}
.feedbacks-list{
    margin-top: 32px;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 32px;
    }
    @media screen and (min-width: 768px) {
        gap: 139px;
    }
    &__item {
        
        padding: 8px;
        background-color: #FFFFFF;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;

        @media screen and (max-width: 767px) {
            margin-top: 24px;
        }
        @media screen and (min-width: 768px) {
            padding: 12px;
            width: 336px;
        }
        @media screen and (min-width: 1280px) {
            padding: 14px;
            width: 501px;
        }
    }
    &__text {
        margin-top: 28px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.19;

        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 1.17;
        }
    }
    &__meta {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        height: 52px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 94px;
        gap:2px;
        border-right: 0.85px solid rgba(126, 177, 1, 1);
    }
    &__name {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
    }
    &__sign {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
    }
    &__image {
        width: 48px;
        height: 48px;
        border: 2px solid #FFE550;
        border-radius: 50%;
    }
}

.ratings-list {
    display: flex;
    gap: 4px;

    &__star{
        fill: #FFE550;
    }
}
