@use "../utils/variables" as *;

.menu-container {
    display: flex;
    margin-left: auto;
    cursor: pointer;
}
.menu {

    &--header {
        @media screen and (max-width: 767px) {
            visibility: hidden;
            position: absolute;
            width: 130px;
            height: 255px;
            right: 0px;
            top: 50px;
            z-index: 1;
        
            background: #FEFEFE;
            border-radius: 30px 0px 30px 30px;
            box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
        }
        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
    }
    &--footer {
        visibility: visible;

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }
        @media screen and (min-width: 1280px) {
            align-items: baseline;
            margin-top: 18px;
        }
    }
}
.menu-cross {
    display: none;
    &--header {
        display: block;
        @media screen and (max-width: 767px) {
            position: absolute;
            top: 4px;
            right: 4px;
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}
.menu-open {
    fill: #7eb101;

    &:hover {
        fill: $menu-hover-color;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.is-open {
   visibility: visible;
}
.menu-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $text-primary-color;

    &--header {
        @media screen and (min-width: 768px) {
            display: flex;
            margin-right: 30px;
            gap: 28px;
    
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.14;
        }
    }
    
    &--footer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        color: #000000;
        
        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 28px;
        }
    };

    &__item {

        
        &--header {
            display: block;
            width: 100%;
            padding: 16px 0 16px 16px;
        }
        &--footer {

        }
        @media screen and (min-width: 768px) {
            padding: 0;
        }
        &:hover {
            @include transition (background-color);
            @include transition (color);

            @media screen and (max-width: 767px) {

                & {
                    background-color: #BBF330;
                }
                &:hover:first-child {
                    background-color: #BBF330;;
                    border-radius: 30px 0px 0px 0px;
                }
                &:hover:last-child {
                    background-color: #BBF330;;
                    border-radius: 0px 0px 30px 30px;
                }
            }
            @media screen and (min-width: 768px) {
                color: #BBF330;
                text-decoration: underline;
            }
        }
        &:focus {
            @include transition (background-color);
            @include transition (color);

            @media screen and (max-width: 767px) {

                & {
                    background-color: #BBF330;
                }
                &:focus:first-child {
                    background-color: #BBF330;;
                    border-radius: 30px 0px 0px 0px;
                }
                &:focus:last-child {
                    background-color: #BBF330;;
                    border-radius: 0px 0px 30px 30px;
                }
            }
            @media screen and (min-width: 768px) {
                color: #BBF330;
                text-decoration: underline;
            }
        }
    }
}